.header {
    width: 960px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
}

.wrapper {
  background-image: url("/Users/carlos/Desktop/Davis/responsive-portfolio/images")
}

.mainContent {
  width: 960px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
}

h1 {
  color: #4aaaa5;
  text
}

.flex1 {
    padding: 5px;
    line-height: 90px;
    background-color: #4aaaa5;
    text-align: center;
    width: 250px;
    height: 100px;
    white-space: normal;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    padding: 10px;
}

@media all and (max-width: 980px) {
    .flex-container {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  }

  @media all and (max-width: 640px) {
    .flex-container {
      flex-direction: column;
    }
  }