.flex-container {
    width: 960px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: auto;
}

.flex1 {
    font-size: 30px;
    display: flex;
    align-self: flex-end;
    
}

.navigation {
    display: flex;
    align-items: center;
}

@media all and (max-width: 980px) {
    .flex-container {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  }

  @media all and (max-width: 640px) {
    .flex-container {
      flex-direction: column;
    }
  }